.txt-mute {
  color: #dcdcdc;
}
.txt-20 {font-size: 20px;}
.txt-19 {font-size: 19px;}
.txt-18 {font-size: 18px;}
.txt-17 {font-size: 17px;}
.txt-16 {font-size: 16px;}
.txt-15 {font-size: 15px;}
.txt-14 {font-size: 14px;}
.txt-13 {font-size: 13px;}
.txt-12 {font-size: 12px;}
.txt-11 {font-size: 11px;}
.txt-10 {font-size: 10px;}
.txt-9 {font-size: 9px;}
.txt-8 {font-size: 8px;}
