$color-blue: #2A7DE1;
$color-primary: #ffffff;
$color-secondary: #666876;
$border-color: #282a33;
$gray-main: #939AA4;
$gray-light: #CFD2D7;
$red-main: #D43C52;
$green-main: #39AE9A;
$background: #1E1E1E;
$background-primary: rgba(255, 255, 255, 0.1);
$background-secondary: #1A1B21;
$background-third: #2C2D31;
$background-header: #000000;
